*.pyc
*.pyo
*~
.#*
msg/*.py
srv/*.py
msg_gen
srv_gen
build
bin/*
lib/*
err_network.log
.*project
*.cmake
.settings/
raven_2_vision/data/old/
raven_2_vision/data/*/*_pose*.yaml
raven_2_trajectory/trajectories/*
raven_2_params/data/script_test/*
