<!---->
<launch>
    <arg name="model" default="prosilica"/>
    <arg name="name" default="common_chessboard"/>
    <arg name="common_cb_width"  default="10"/>
    <arg name="common_cb_height" default="7"/>
    <arg name="common_cb_square" default="0.00606"/>
    <arg name="common_cb_name"   default="common_cb"/>
    <arg name="common_cb_topic"  default="$(arg common_cb_name)_pose"/>
    <arg name="common_cb_frame"  default="$(arg common_cb_name)_frame"/>

    <include file="$(find raven_2_vision)/launch/chessboard.launch">
        <arg name="model"  default="$(arg model)"/>
        <arg name="name"   default="common_BC"/>
        <arg name="width"  default="$(arg common_cb_width)"/>
        <arg name="height" default="$(arg common_cb_height)"/>
        <arg name="square" default="$(arg common_cb_square)"/>
        <arg name="topic"  default="$(arg common_cb_topic)"/>
	<arg name="image"  default="/BC/left/image_rect"/>
	<arg name="info"   default="/BC/left/camera_info"/>
    </include>
    

    <group ns="$(arg model)_$(arg name)">
        <node name="register_common" pkg="tfx" type="publisher" args="--use-params" output="screen">
            <param name="listen" value="/$(arg common_cb_topic)"/>
            <param name="tf" value="$(arg common_cb_frame)"/>
            <param name="invert_tf" value="true"/>
            <param name="tf_always_new" value="True"/>
            <param name="save" value="$(find raven_2_vision)/data/$(arg model)/$(arg name)_pose.yaml"/>
            <param name="save_in_frame" value="/0_link"/>
        </node>
    </group>
</launch>
